# Set update schedule for GitHub Actions and pip dependencies

version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      # Check for updates to Python dependencies every month
      interval: "monthly"
    groups:
      python-dependencies:
        patterns:
          - "*"
