*.pyc
*.pyd
*.so
*.c
*.cpp
*.png
*.vtk
*.gz
*.dpy
*.npy
*.img
*.hdr
*.mat
*.pkl
*.orig
*.trk
*.trx
*.pam5
*.pial
build
*~
doc/_build
doc/examples_revamped
doc/reference_cmd
doc/*-stamp
MANIFEST
dist/
.pytest_cache
.project
.pydevproject
*.sw[po]
dipy.egg-info/
nibabel*egg/
pyx-stamps
__config__.py
.DS_Store
.coverage
.buildbot.patch
.eggs/
dipy/.idea/
.idea
.vscode
.pytest_cache/*
tmp/
venv
build-install
.mesonpy*
build-install
benchmarks/results/
benchmarks/env/
sg_execution_times.rst