*.pyc
*.pyd
*.so
*.c
*.cpp
*.png
*.gz
*.dpy
*.npy
*.img
*.hdr
*.mat
*.pkl
*.orig
build
*~
doc/_build
doc/*-stamp
MANIFEST
dist/
.project
.pydevproject
*.sw[po]
dipy.egg-info/
nibabel*egg/
pyx-stamps
__config__.py
.DS_Store
.coverage
.buildbot.patch
.eggs/
