Ariel Rokem <arokem@gmail.com> arokem <arokem@berkeley.edu>
Ariel Rokem <arokem@gmail.com> arokem <arokem@gmail.com>
Bago Amirbekian <mrbago@gmail.com> Bago Amirbekian <Bago.Amirbekian@ucsf.edu>
Bago Amirbekian <mrbago@gmail.com> Bago Amirbekian <bagrata@salk.local>
Bago Amirbekian <mrbago@gmail.com> Bago Amirbekian <mrbago+git@gmail.com>
Bago Amirbekian <mrbago@gmail.com> MrBago <mrbago+git@gmail.com>
Bago Amirbekian <mrbago@gmail.com> MrBago <mrbago@gmail.com>
Maxime Descoteaux <m.descoteaux@usherbrooke.ca> mdesco <m.descoteaux@usherbrooke.ca>
Maxime Descoteaux <m.descoteaux@usherbrooke.ca> mdesco <maxime.descoteaux@gmail.com>
Maxime Descoteaux <m.descoteaux@usherbrooke.ca> Maxime Descoteaux <desm2239@dinf-descot-01b.dinf.fsci.usherbrooke.ca>
Stefan van der Walt <sjvdwalt@gmail.com> Stefan van der Walt <stefan@sun.ac.za>
Christopher Nguyen <christopher.t.nguyen@gmail.com> Christopher <christopher.t.nguyen@gmail.com>
Christopher Nguyen <christopher.t.nguyen@gmail.com> Christopher Nguyen <cnguyen@oski.radiology.ucsf.edu>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Dipy Developers <dipy.devels@gmail.com>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Eleftherios Garyfallidis <eg01@devel07.(none)>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Eleftherios Garyfallidis <eg309@elfarion.(none)>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Eleftherios Garyfallidis <eg309@elfthin.(none)>
Marc-Alexandre Côté <marc.cote.19@gmail.com> Marc-Alexandre Cote <marc.cote.19@gmail.com>
Gabriel Girard <girard.gabriel@gmail.com> Gabriel Girard <girg2105@pc-0051-12.(none)>
Gabriel Girard <girard.gabriel@gmail.com> Gabriel Girard <ggirard@hos72425.home>
Gabriel Girard <girard.gabriel@gmail.com> Gabriel Girard <girg2105@dinf-2003-25i.DInf.fsci.usherbrooke.ca>
Etienne St-Onge <stonge.etienne@gmail.com> Etienne St-Onge <ch185690@carlsen.tch.harvard.edu>
Etienne St-Onge <stonge.etienne@gmail.com> StongeEtienne <stonge.etienne@gmail.com>
Etienne St-Onge <stonge.etienne@gmail.com> Etienne St-Onge <etienne.st-onge@usherbrooke.ca>
Emanuele Olivetti <olivetti@fbk.eu> Emanuele Olivetti <emanuele@relativita.com>
Ian Nimmo-Smith <iannimmosmith@gmail.com> Ian Nimmo-Smith <ian@devel07.(none)>
Ian Nimmo-Smith <iannimmosmith@gmail.com> iannimmosmith <ian@monksilver.com>
Ian Nimmo-Smith <iannimmosmith@gmail.com> Ian Nimmo-Smith <ian.nimmo-smith@mrc-cbu.cam.ac.uk>
Matthew Brett <matthew.brett@gmail.com> Matthew Brett <matthew@devel07.(none)>
Jon Haitz Legarreta Gorroño <jon.haitz.legarreta@gmail.com> Jon Haitz Legarreta Gorroño <jhlegarreta@vicomtech.org>
Jon Haitz Legarreta Gorroño <jon.haitz.legarreta@gmail.com> Jon Haitz Legarreta <jhlegarreta@vicomtech.org>
Omar Ocegueda <jomaroceguedag@gmail.com> omarocegueda <jomaroceguedag@gmail.com>
Omar Ocegueda <jomaroceguedag@gmail.com> omarocegueda <jomarocegueda@gmail.com>
Omar Ocegueda <jomaroceguedag@gmail.com> Omar Ocegueda Gonzalez <jegonz@microsoft.com>
Shahnawaz Ahmed <shahnawaz.ahmed95@gmail.com> Shahnawaz Ahmed <shd339@gmail.com>
Shahnawaz Ahmed <shahnawaz.ahmed95@gmail.com> root <shahnawaz.ahmed95@gmail.com>
Shahnawaz Ahmed <shahnawaz.ahmed95@gmail.com> Your Name <shahnawaz.ahmed95@gmail.com>
Sylvain Merlet <merlet.sylvain@gmail.com> smerlet <merlet.sylvain@gmail.com>
Mauro Zucchelli <mauro.zucchelli88@gmail.com> Mauro <mauro@Mauro.(none)>
Mauro Zucchelli <mauro.zucchelli88@gmail.com> maurozucchelli <mauro.zucchelli@gmail.com>
Mauro Zucchelli <mauro.zucchelli88@gmail.com> maurozucchelli <mauro.zucchelli88@gmail.com>
Andrew Lawrence <lawrenceajl@gmail.com> AndrewLawrence <AndrewLawrence@users.noreply.github.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> samuelstjean <samuel.st-jean@usherbrooke.ca>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> samuelstjean <stjeansam@gmail.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> samuelstjean <qekchose@gmail.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> Samuel St-Jean <qekchose@gmail.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> Samuel St-Jean <samuel.st-jean@usherbrooke.ca>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> Samuel St-Jean <stjeansam@gmail.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> Samuel St-Jean <3030760+samuelstjean@users.noreply.github.com>
Jean-Christophe Houde <jean.christophe.houde@gmail.com> Jean-Christophe Houde <jc.houde@imeka.ca>
Riddhish Bhalodia <riddhishb@gmail.com> Riddhish Bhalodia <Riddhish@Riddhishs-MacBook-Pro.local>
Ranveer Aggarwal <ranveeraggarwal@gmail.com> Ranveer Aggarwal <ranveeraggarwal@users.noreply.github.com>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@MacBook-Pro-de-koudoro.local>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@mbp-de-koudoro.gateway.pace.com>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@pc49.home>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@140-182-204-171.dhcp-bl.indiana.edu>
Serge Koudoro <skab12@gmail.com> skoudoro <skoudoro@gmail.com>
Serge Koudoro <skab12@gmail.com> skoudoro <skab12@gmail.com>
Serge Koudoro <skab12@gmail.com> skoudoro <skoudoro@lfedora2.lf-dev.marist.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-232-233.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@Tingyis-MacBook-Pro.local>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-235-143.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-233-169.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-234-10.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-234-100.dhcp-bl.indiana.edu>
Kesshi Jordan <kesshi.jordan@gmail.com> kesshijordan <Kesshi.Jordan@ucsf.edu>
Kesshi Jordan <kesshi.jordan@gmail.com> Kesshi jordan <Kesshi.Jordan@ucsf.edu>
Rafael Neto Henriques <rafaelnh21@gmail.com> Rafael Henriques <rafaelnh21@gmail.com>
Rafael Neto Henriques <rafaelnh21@gmail.com> <rh04@login15.mrc-cbu.cam.ac.uk>
Rafael Neto Henriques <rafaelnh21@gmail.com> RafaelNH <rafaelnh21@gmail.com>
Alexandre Gauvin <gauvinalexandre@gmail.com> algo <gauvinalexandre@gmail.com>
Alexandre Gauvin <gauvinalexandre@gmail.com> Alexandre Gauvin <alexandre.gauvin@usherbrooke.ca>
Nil Goyette <nil.goyette@imeka.ca> Nil Goyette <nil.goyette@gmail.com>
Eric Peterson <globshim@gmail.com> etpeterson <globshim@gmail.com>
Rutger Fick <rutger.fick@inria.fr> Rutger Fick <fick.rutger@gmail.com>
Rutger Fick <rutger.fick@inria.fr> Rutger Fick <rutger361988@gmail.com>
Demian Wassermann <demian.wassermann@inria.fr> Demian Wassermann <demianw@users.noreply.github.com>
Sourav Singh <souravsingh@users.noreply.github.com> Sourav <ssouravsingh12@gmail.com>
Sven Dorkenwald <sven.dorkenwald@mpimf-heidelberg.mpg.de>
Manu Tej Sharma <a.manutej@gmail.com> manu-tej <a.manutej@gmail.com>
David Qixiang Chen <qixiang.chen@gmail.com>
Oscar Esteban <code@oscaresteban.es>
Matthieu Dumont <matthieu.dumont@usherbrooke.ca>  unknown <mdumont@Dinf-2900-01H.(none)>
Guillaume Theaud <guillaume.theaud@gmail.com>
Adam Rybinski <adam.rybinski@outlook.com>
Bennet Fauber <justbennet@users.noreply.github.com>
Aman Arya <aman.arya524@gmail.com>
Ricci Woo <ricciwoo@gmail.com> RicciWoo <ricciwoo@gmail.com>
Francois Rheault <francois.m.rheault@usherbrooke> Francois Rheault <francois.m.rheault@usherbrooke.ca>
Francois Rheault <francois.m.rheault@usherbrooke> frheault <francois.m.rheault@usherbrooke.ca>
Francois Rheault <francois.m.rheault@usherbrooke> frheault <francois.m.rheault@usherbrooke>
Francois Rheault <francois.m.rheault@usherbrooke> frheault <francois.m.rheault@gmail.com>
Antoine Theberge <antoine.theberge@usherbrooke.ca> AntoineTheb <antoine.theberge@usherbrooke.ca>
Antoine Theberge <antoine.theberge@usherbrooke.ca> AntoineTheb <theberge.antoine.cem@gmail.com>
David Hunt <davhunt@indiana.edu> David <davhunt@indiana.edu>
David Hunt <davhunt@indiana.edu> davhunt <davhunt@indiana.edu>
Parichit Sharma <parichitsharma08@gmail.com> Parichit Sharma <schmuck@149-161-162-17.dhcp-bl.indiana.edu>
Chandan Gangwar <chandan.gangwar0411@gmail.com>
Naveen Kumarmarri <naveenkumarmarri6014@gmail.com>
Jakob Wasserthal <j.wasserthal@dkfz.de>
Shreyas Fadnavis <shreyasfadnavis@gmail.com>
Daniel Enrico Cahall <danielenricocahall@gmail.com>
Bramsh Qamar <bramshq@gmail.com>
Bramsh Qamar <bramshq@gmail.com> Bramsh Qamar <bramshqamar@Bramshs-MacBook-Pro.local>
Yash Sherry <yash14123@iiitd.ac.in>
endolith <endolith@gmail.com>
ArjitJ <32598699+ArjitJ@users.noreply.github.com>
Kevin Sitek <sitek.kevin@gmail.com>
Ross Lawrence <lawreros@gmail.com> Lawreros <lawreros@gmail.com>
Ross Lawrence <lawreros@gmail.com>  Ross Lawrence <52179159+Lawreros@users.noreply.github.com>
Derek Pisner <dpisner@utexas.edu> dPys <dpisner@utexas.edu>
Derek Pisner <dpisner@utexas.edu> Derek Pisner <16432683+dPys@users.noreply.github.com>
Pradeep Reddy Raamana <raamana@gmail.com> Pradeep Reddy Raamana <praamana@research.baycrest.org>
Shreyas Fadnavis <shreyasfadnavis@gmail.com> Shreyas Sanjeev Fadnavis <shfadn@antelope.sice.indiana.edu>
Shreyas Fadnavis <shreyasfadnavis@gmail.com> Shreyas Fadnavis <shfadn@iu.edu>
Javier Guaje <jrguajeg@iu.edu> Javier Guaje <guaje@users.noreply.github.com>
Javier Guaje <jrguajeg@iu.edu> Javier Guaje <jrguajeg@gmail.com>
Bennet Fauber <bennet@umich.edu> Bennet Fauber <justbennet@users.noreply.github.com>
Fabio Nery <fabiornery@gmail.com> fnery <fabiornery@gmail.com>
Jirka Borovec<jirka.borovec@seznam.cz> Jirka <jirka.borovec@seznam.cz>
Jirka Borovec<jirka.borovec@seznam.cz> Jiri Borovec <jiri.borovec@fel.cvut.cz>
Jirka Borovec<jirka.borovec@seznam.cz> Jirka Borovec <jirka.borovec@seznam.cz>
Charles Poirier<charlespoirier2112@gmail.com> Charles <charlespoirier2112@gmail.com>
Charles Poirier<charlespoirier2112@gmail.com> CHrlS98 <vagrant@vagrant.vm>
Charles Poirier<charlespoirier2112@gmail.com> vagrant <vagrant@vagrant.vm>
Charles Poirier<charlespoirier2112@gmail.com> CHrlS98 <charles.poirier@usherbrooke.ca>
Charles Poirier<charlespoirier2112@gmail.com> Charles Poirier <41654474+CHrlS98@users.noreply.github.com>
Charles Poirier<charlespoirier2112@gmail.com> Charles Poirier <charles.poirier@usherbrooke.ca>
Leevi Kerkela <leevi.kerkela@protonmail.com> Leevi <leevi.kerkela@protonmail.com>
Leevi Kerkela <leevi.kerkela@protonmail.com> kerkelae <leevi.kerkela@protonmail.com>
Shubham Shaswat <chandragupta4115@gmail.com> ShubhamShaswat <chandragupta4115@gmail.com>
Philippe Karan <philippe.karan@usherbrooke.ca> karanphil <philippe.karan@usherbrooke.ca>
Philippe Karan <philippe.karan@usherbrooke.ca> Philippe Karan <karp2601@dinf-0051-05b.DInf.fsci.usherbrooke.ca>
Philippe Karan <philippe.karan@usherbrooke.ca> karanphil <47002808+karanphil@users.noreply.github.com>
Philippe Karan <philippe.karan@usherbrooke.ca> karp2601 <karp2601@dinf-0051-20b.DInf.fsci.usherbrooke.ca>
Jaewon Chung <jaewonc78@gmail.com> j1c <jaewonc78@gmail.com>
Basile Pinsard <basile.pinsard@gmail.com> basile <basile.pinsard@gmail.com>
Siddharth Kapoor <16ec142siddharth@nitk.edu.in> sidkapoor97 <16ec142siddharth@nitk.edu.in>
Areesha Tariq <areeshatariq02@gmail.com> areeshatariq <areeshatariq02@gmail.com>
David Romero-Bascones <davidrb093g@gmail.com> dombas <davidrb093g@gmail.com>
David Romero-Bascones <davidrb093g@gmail.com> drombas <davidrb093g@gmail.com>
Leon Weninger <leon.weninger@lfb.rwth-aachen.de> Leon Weninger <18707626+weningerleon@users.noreply.github.com>
Leon Weninger <leon.weninger@lfb.rwth-aachen.de> weninger <leon.weninger@lfb.rwth-aachen.de>
Dan Bullock <bullo092@umn.edu> Daniel Bullock <dnbulloc@iu.edu>
Lucas Da Costa <lcscosta2761@gmail.com> lcscosta <lcscosta2761@gmail.com>
Lucas Da Costa <lcscosta2761@gmail.com> Lucas da Costa <45444800+lcscosta@users.noreply.github.com>
Francis Jerome <francis.jerome999@gmail.com> jerryfrancis-97 <francis.jerome999@gmail.com>
Kenji Marshall <kenji.marshall99@gmail.com>  Kenji Marshall <47823200+kenjimarshall@users.noreply.github.com>
Tom Dela Haije <tom@di.ku.dk> Tom <tom@di.ku.dk>
Deneb Boito <deneb.boito@gmail.com> DenebBoito <deneb.boito@gmail.com>
Deneb Boito <deneb.boito@gmail.com> DenebBoito <45635305+DenebBoito@users.noreply.github.com>
Julio Villalon <neurobarranquilla@hotmail.com> Julio Villalon <villalonreina@users.noreply.github.com>
Malinda Dilhara <malinda.dilhara@gmail.com> Malinda <malinda.dilhara@gmail.com>
Emmanuelle Renauld <emmanuelle.renauld@usherbrooke.ca> EmmaRenauld <emmanuelle.renauld@usherbrooke.ca>
Chantal Tax <chantaltax88@gmail.com> ChantalTax <chantaltax88@gmail.com>
Jong Sung Park <pjsjongsung@gmail.com> Park <jp109@iu.edu>
Jong Sung Park <pjsjongsung@gmail.com> pjsjongsung <pjsjongsung@gmail.com>
Jong Sung Park <pjsjongsung@gmail.com> Jong Sung Park <jp109@antelope.luddy.indiana.edu>
Jong Sung Park <pjsjongsung@gmail.com> Jong Sung Park <jp109@dl.luddy.indiana.edu>
Jong Sung Park <pjsjongsung@gmail.com> Jong Sung Park <jp109@iu.edu>
Rahul Ubale <raubale@iu.edu> RahulUbale <raubale@iu.edu>
Rahul Ubale <raubale@iu.edu> Rahul19 <68568128+RahulUbale@users.noreply.github.com>
Baran Aydogan <baran.aydogan@gmail.com> baranaydogan <baran.aydogan@gmail.com>
Baran Aydogan <baran.aydogan@gmail.com> Dogu Baran Aydogan <baran.aydogan@gmail.com>
Shilpi Prasad <shilpiprd@gmail.com> shilpiprd <shilpiprd@gmail.com>
Shilpi Prasad <shilpiprd@gmail.com> Shilpi <72646134+shilpiprd@users.noreply.github.com>
Shilpi Prasad <shilpiprd@gmail.com> Shilpi <shilpiprd@gmail.com>
Dimitri Papadopoulos <dimitri.papadopoulos@cea.fr> Dimitri Papadopoulos <3234522+DimitriPapadopoulos@users.noreply.github.com>
Dimitri Papadopoulos <dimitri.papadopoulos@cea.fr> Dimitri Papadopoulos Orfanos <3234522+DimitriPapadopoulos@users.noreply.github.com>
Paul Camacho <pcamach2@illinois.edu> pcamach2 <49655443+pcamach2@users.noreply.github.com>
Maharshi Gor <gor.maharshi@gmail.com> maharshigor <gor.maharshi@gmail.com>
Vara Lakshmi Bayanagari <lakshmibayanagari@gmail.com> lakshmi <lakshmibayanagari@gmail.com>
John Kruper <jk6.28@outlook.com> 36000 <jk6.28@outlook.com>
John Kruper <jk6.28@outlook.com> John Kruper <jk23@att.net>
John Kruper <jk6.28@outlook.com> John K <jk23@att.net>
John Kruper <jk6.28@outlook.com> John Kruper <jk23@att.net>
Atharva Shah <athshah@iu.edu> Atharva Shah <118627741+Atharva-Shah-2298@users.noreply.github.com>
Theodore Ni <3806110+tjni@users.noreply.github.com>
Nicolas Delinte <nicolas.delinte@uclouvain.be> Nicolas Delinte <70629561+DelinteNicolas@users.noreply.github.com>
Praitayini Kanakaraj <praitayini@gmail.com> praitayini <31248960+praitayini@users.noreply.github.com>
Praitayini Kanakaraj <praitayini@gmail.com> praitayini <praitayini@gmail.com>
John Shen <john.shen@clario.com> ccshen <r04548054@ntu.edu.tw>
John Shen <john.shen@clario.com> John.Shen <john.shen@clario.com>
Martin Kozár <martinkozarmk@gmail.com> MartinKjunior <martinkozarmk@gmail.com>
Michael R. Crusoe <crusoe@debian.org> Michael R. Crusoe <1330696+mr-c@users.noreply.github.com>
Michael R. Crusoe <crusoe@debian.org> Michael R. Crusoe <michael.crusoe@gmail.com>
Kaustav Deka <mailerdeka@gmail.com> deka27 <mailerdeka@gmail.com>
Kaustav Deka <mailerdeka@gmail.com> Kaustav Deka <116963260+deka27@users.noreply.github.com>
Prajwal Reddy <iprajwalreddy@gmail.com> iprajwalreddy <iprajwalreddy@gmail.com>
Prajwal Reddy <iprajwalreddy@gmail.com> Sai Prajwal Reddy <iprajwalreddy@gmail.com>
Inigo Tellaetxe <inigotellaetxe@gmail.com> itellaetxe <inigotellaetxe@gmail.com>
Kaibo Tang <ktang@unc.edu> kaibo <ktang@unc.edu>
Sandro Turriate <devel@penguinpee.nl> Sandro <devel@penguinpee.nl>
Florent Wijanto <f.wijanto@hopital-foch.com> FWijanto <f.wijanto@hopital-foch.com>
Vara Lakshmi Bayanagari <> lb-97 <42465606+lb-97@users.noreply.github.com>
