Ariel Rokem <arokem@gmail.com> arokem <arokem@berkeley.edu>
Ariel Rokem <arokem@gmail.com> arokem <arokem@gmail.com>
Bago Amirbekian <mrbago@gmail.com> Bago Amirbekian <Bago.Amirbekian@ucsf.edu>
Bago Amirbekian <mrbago@gmail.com> Bago Amirbekian <bagrata@salk.local>
Bago Amirbekian <mrbago@gmail.com> Bago Amirbekian <mrbago+git@gmail.com>
Bago Amirbekian <mrbago@gmail.com> MrBago <mrbago+git@gmail.com>
Bago Amirbekian <mrbago@gmail.com> MrBago <mrbago@gmail.com>
Maxime Descoteaux <m.descoteaux@usherbrooke.ca> mdesco <m.descoteaux@usherbrooke.ca>
Maxime Descoteaux <m.descoteaux@usherbrooke.ca> mdesco <maxime.descoteaux@gmail.com>
Maxime Descoteaux <m.descoteaux@usherbrooke.ca> Maxime Descoteaux <desm2239@dinf-descot-01b.dinf.fsci.usherbrooke.ca>
Stefan van der Walt <sjvdwalt@gmail.com> Stefan van der Walt <stefan@sun.ac.za>
Christopher Nguyen <christopher.t.nguyen@gmail.com> Christopher <christopher.t.nguyen@gmail.com>
Christopher Nguyen <christopher.t.nguyen@gmail.com> Christopher Nguyen <cnguyen@oski.radiology.ucsf.edu>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Dipy Developers <dipy.devels@gmail.com>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Eleftherios Garyfallidis <eg01@devel07.(none)>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Eleftherios Garyfallidis <eg309@elfarion.(none)>
Eleftherios Garyfallidis <garyfallidis@gmail.com> Eleftherios Garyfallidis <eg309@elfthin.(none)>
Marc-Alexandre Côté <marc.cote.19@gmail.com> Marc-Alexandre Cote <marc.cote.19@gmail.com>
Gabriel Girard <girard.gabriel@gmail.com> Gabriel Girard <girg2105@pc-0051-12.(none)>
Etienne St-Onge <etienne.st-onge@usherbrooke.ca> Etienne St-Onge <ch185690@carlsen.tch.harvard.edu>
Etienne St-Onge <etienne.st-onge@usherbrooke.ca> StongeEtienne <stonge.etienne@gmail.com>
Emanuele Olivetti <olivetti@fbk.eu> Emanuele Olivetti <emanuele@relativita.com>
Ian Nimmo-Smith <iannimmosmith@gmail.com> Ian Nimmo-Smith <ian@devel07.(none)>
Ian Nimmo-Smith <iannimmosmith@gmail.com> iannimmosmith <ian@monksilver.com>
Ian Nimmo-Smith <iannimmosmith@gmail.com> Ian Nimmo-Smith <ian.nimmo-smith@mrc-cbu.cam.ac.uk>
Matthew Brett <matthew.brett@gmail.com> Matthew Brett <matthew@devel07.(none)>
Jon Haitz Legarreta Gorroño <jon.haitz.legarreta@gmail.com> Jon Haitz Legarreta Gorroño <jhlegarreta@vicomtech.org>
Jon Haitz Legarreta Gorroño <jon.haitz.legarreta@gmail.com> Jon Haitz Legarreta <jhlegarreta@vicomtech.org>
Omar Ocegueda <jomaroceguedag@gmail.com> omarocegueda <jomaroceguedag@gmail.com>
Omar Ocegueda <jomaroceguedag@gmail.com> omarocegueda <jomarocegueda@gmail.com>
Omar Ocegueda <jomaroceguedag@gmail.com> Omar Ocegueda Gonzalez <jegonz@microsoft.com>
Shahnawaz Ahmed <shahnawaz.ahmed95@gmail.com> Shahnawaz Ahmed <shd339@gmail.com>
Shahnawaz Ahmed <shahnawaz.ahmed95@gmail.com> root <shahnawaz.ahmed95@gmail.com>
Shahnawaz Ahmed <shahnawaz.ahmed95@gmail.com> Your Name <shahnawaz.ahmed95@gmail.com>
Sylvain Merlet <merlet.sylvain@gmail.com> smerlet <merlet.sylvain@gmail.com>
Mauro Zucchelli <mauro.zucchelli88@gmail.com> Mauro <mauro@Mauro.(none)>
Mauro Zucchelli <mauro.zucchelli88@gmail.com> maurozucchelli <mauro.zucchelli@gmail.com>
Mauro Zucchelli <mauro.zucchelli88@gmail.com> maurozucchelli <mauro.zucchelli88@gmail.com>
Andrew Lawrence <lawrenceajl@gmail.com> AndrewLawrence <AndrewLawrence@users.noreply.github.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> samuelstjean <samuel.st-jean@usherbrooke.ca>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> samuelstjean <stjeansam@gmail.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> samuelstjean <qekchose@gmail.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> Samuel St-Jean <qekchose@gmail.com>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> Samuel St-Jean <samuel.st-jean@usherbrooke.ca>
Samuel St-Jean <Samuel.St-Jean@usherbrooke.ca> Samuel St-Jean <stjeansam@gmail.com>
Riddhish Bhalodia <riddhishb@gmail.com> Riddhish Bhalodia <Riddhish@Riddhishs-MacBook-Pro.local>
Ranveer Aggarwal <ranveeraggarwal@gmail.com> Ranveer Aggarwal <ranveeraggarwal@users.noreply.github.com>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@MacBook-Pro-de-koudoro.local>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@mbp-de-koudoro.gateway.pace.com>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@pc49.home>
Serge Koudoro <skab12@gmail.com> skab12 <koudoro@140-182-204-171.dhcp-bl.indiana.edu>
Serge Koudoro <skab12@gmail.com> skoudoro <skoudoro@gmail.com>
Serge Koudoro <skab12@gmail.com> skoudoro <skab12@gmail.com>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-232-233.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@Tingyis-MacBook-Pro.local>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-235-143.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-233-169.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-234-10.dhcp-bl.indiana.edu>
Tingyi Wanyan <tiwanyan@iu.edu> <tiwanyan@149-160-234-100.dhcp-bl.indiana.edu>
Kesshi Jordan <kesshi.jordan@gmail.com> kesshijordan <Kesshi.Jordan@ucsf.edu>
Kesshi Jordan <kesshi.jordan@gmail.com> Kesshi jordan <Kesshi.Jordan@ucsf.edu>
Rafael Neto Henriques <rafaelnh21@gmail.com> Rafael Henriques <rafaelnh21@gmail.com>
Rafael Neto Henriques <rafaelnh21@gmail.com> <rh04@login15.mrc-cbu.cam.ac.uk>
Rafael Neto Henriques <rafaelnh21@gmail.com> RafaelNH <rafaelnh21@gmail.com>
Alexandre Gauvin <gauvinalexandre@gmail.com> algo <gauvinalexandre@gmail.com>
Alexandre Gauvin <gauvinalexandre@gmail.com> Alexandre Gauvin <alexandre.gauvin@usherbrooke.ca>
Nil Goyette <nil.goyette@imeka.ca> Nil Goyette <nil.goyette@gmail.com>
Eric Peterson <globshim@gmail.com> etpeterson <globshim@gmail.com>
Rutger Fick <rutger.fick@inria.fr> Rutger Fick <fick.rutger@gmail.com>
Rutger Fick <rutger.fick@inria.fr> Rutger Fick <rutger361988@gmail.com>
Demian Wassermann <demian.wassermann@inria.fr> Demian Wassermann <demianw@users.noreply.github.com>
Sourav Singh <souravsingh@users.noreply.github.com> Sourav <ssouravsingh12@gmail.com>
Sven Dorkenwald <sven.dorkenwald@mpimf-heidelberg.mpg.de>
Manu Tej Sharma <a.manutej@gmail.com> manu-tej <a.manutej@gmail.com>
David Qixiang Chen <qixiang.chen@gmail.com>
Oscar Esteban <code@oscaresteban.es>
Matthieu Dumont <matthieu.dumont@usherbrooke.ca>  unknown <mdumont@Dinf-2900-01H.(none)>
Guillaume Theaud <guillaume.theaud@gmail.com>
Adam Rybinski <adam.rybinski@outlook.com>
Bennet Fauber <justbennet@users.noreply.github.com>
Aman Arya <aman.arya524@gmail.com>
Ricci Woo <ricciwoo@gmail.com> RicciWoo <ricciwoo@gmail.com>
Francois Rheault <francois.m.rheault@usherbrooke> Francois Rheault <francois.m.rheault@usherbrooke.ca>
Francois Rheault <francois.m.rheault@usherbrooke> frheault <francois.m.rheault@usherbrooke.ca>
Francois Rheault <francois.m.rheault@usherbrooke> frheault <francois.m.rheault@usherbrooke>
Antoine Theberge <antoine.theberge@usherbrooke.ca> AntoineTheb <antoine.theberge@usherbrooke.ca>
Antoine Theberge <antoine.theberge@usherbrooke.ca> AntoineTheb <theberge.antoine.cem@gmail.com>
David Hunt <davhunt@indiana.edu> David <davhunt@indiana.edu>
David Hunt <davhunt@indiana.edu> davhunt <davhunt@indiana.edu>
Parichit Sharma <parichitsharma08@gmail.com> Parichit Sharma <schmuck@149-161-162-17.dhcp-bl.indiana.edu>
Chandan Gangwar <chandan.gangwar0411@gmail.com>
Naveen Kumarmarri <naveenkumarmarri6014@gmail.com>
Jakob Wasserthal <j.wasserthal@dkfz.de>
Shreyas Fadnavis <shreyasfadnavis@gmail.com>
Daniel Enrico Cahall <danielenricocahall@gmail.com>
Bramsh Qamar <bramshq@gmail.com>
Bramsh Qamar <bramshq@gmail.com> Bramsh Qamar <bramshqamar@Bramshs-MacBook-Pro.local>
Yash Sherry <yash14123@iiitd.ac.in>
endolith <endolith@gmail.com>
ArjitJ <32598699+ArjitJ@users.noreply.github.com>
Kevin Sitek <sitek.kevin@gmail.com>
Ross Lawrence <lawreros@gmail.com> Lawreros <lawreros@gmail.com>
Ross Lawrence <lawreros@gmail.com>  Ross Lawrence <52179159+Lawreros@users.noreply.github.com>
Derek Pisner <dpisner@utexas.edu> dPys <dpisner@utexas.edu>
Pradeep Reddy Raamana <raamana@gmail.com> Pradeep Reddy Raamana <praamana@research.baycrest.org>
Shreyas Fadnavis <shreyasfadnavis@gmail.com> Shreyas Sanjeev Fadnavis <shfadn@antelope.sice.indiana.edu>
Bennet Fauber <bennet@umich.edu> Bennet Fauber <justbennet@users.noreply.github.com>
