# vim ft=yaml
# Multiple lines can be made a single "virtual line" because of the way that
# Travis munges each line before executing it to print out the exit status.
# It's okay for it to be on multiple physical lines, so long as you remember:
# - There can't be any leading "-"s - All newlines will be removed, so use
# ";"s
sudo: false  # To use travis container infrastructure
language: python
cache:
  directories:
    - $HOME/.cache/pip
env:
    global:
        - DEPENDS="cython numpy scipy matplotlib h5py nibabel cvxopt"
        - VENV_ARGS="--python=python"
python:
    - 2.6
matrix:
  include:
    # To test vtk functionality
    - python: 2.7
      sudo: true   # This is set to true for apt-get
      env:
        - VTK=1
        - LIBGL_ALWAYS_INDIRECT=y
        - VENV_ARGS="--system-site-packages --python=/usr/bin/python2.7"
        - TEST_WITH_XVFB=true
before_install:
    - source tools/travis_tools.sh
    - virtualenv $VENV_ARGS venv
    - source venv/bin/activate
    - python --version # just to check
    - retry pip install nose;
    - wheelhouse_pip_install $DEPENDS;
    - if [ "${COVERAGE}" == "1" ]; then
      pip install coverage;
      pip install coveralls;
      fi
    - if [ "${VTK}" == "1" ]; then
          sudo apt-get update;
          sudo apt-get install -y python-vtk;
          sudo apt-get install -y xvfb;
          sudo apt-get install -y python-tk;
          retry pip install xvfbwrapper;
      fi
install:
    - python setup.py install
# command to run tests, e.g. python setup.py test
script:
    # Change into an innocuous directory and find tests from installation
    - mkdir for_testing
    - cd for_testing
    # No figure windows for mpl; quote to hide : from travis-ci yaml parsing
    - 'echo "backend : agg" > matplotlibrc'
    - if [ "${COVERAGE}" == "1" ]; then
      cp ../.coveragerc .;
      COVER_ARGS="--with-coverage --cover-package dipy";
      fi
    - nosetests --with-doctest --verbose $COVER_ARGS dipy
after_success:
    - if [ "${COVERAGE}" == "1" ]; then coveralls; fi