# vim ft=yaml
# Multiple lines can be made a single "virtual line" because of the way that
# Travis munges each line before executing it to print out the exit status.
# It's okay for it to be on multiple physical lines, so long as you remember:
# - There can't be any leading "-"s - All newlines will be removed, so use
# ";"s
sudo: false  # To use travis container infrastructure
language: python
cache:
  directories:
    - $HOME/.cache/pip
env:
    global:
        - DEPENDS="cython numpy scipy matplotlib h5py nibabel cvxopt"
        - VENV_ARGS="--python=python"
python:
    - 2.6
    - 3.2
    - 3.3
    - 3.4
matrix:
  include:
    - python: 2.7
      env:
        - COVERAGE=1
    # To test minimum dependencies
    - python: 2.7
      env:
        - COVERAGE=1
        - DEPENDS="cython==0.18 numpy==1.7.1 scipy==0.9.0 nibabel==1.2.0"
    - python: 2.7
      env:
        - DEPENDS="cython numpy scipy matplotlib h5py nibabel cvxopt scikit_learn"
    - python: 2.7
      sudo: true
      env:
        - VTK=1
        - VENV_ARGS="--system-site-packages --python=/usr/bin/python2.7"
before_install:
    - source tools/travis_tools.sh
    - virtualenv $VENV_ARGS venv
    - source venv/bin/activate
    - python --version # just to check
    - retry pip install nose # always
    - wheelhouse_pip_install $DEPENDS
    - if [ "${COVERAGE}" == "1" ]; then
      pip install coverage;
      pip install coveralls;
      fi
    - if [ "${VTK}" == "1" ]; then
      sudo apt-get update;
      sudo apt-get install -y python-vtk;
      sudo apt-get install -y xvfb;
      sudo apt-get install -y python-tk;
      python -c "import vtk; import Tkinter";
      fi
install:
    #- python setup.py install
# command to run tests, e.g. python setup.py test
script:
    - python -c "import Tkinter; print(Tkinter.__file__)"
