# vim ft=yaml
# Multiple lines can be made a single "virtual line" because of the way that
# Travis munges each line before executing it to print out the exit status.
# It's okay for it to be on multiple physical lines, so long as you remember:
# - There can't be any leading "-"s - All newlines will be removed, so use
# ";"s
language: python
python:
    - 2.6
    - 3.2
    - 3.3
    - 3.4
matrix:
  include:
    - python: 2.7
      env:
        - COVERAGE=--with-coverage
    - python: 3.4
      env:
        - COVERAGE=--with-coverage
before_install:
    - pip install --no-index -f http://wheels2.astropy.org -f https://dipy.bic.berkeley.edu/scipy_installers/travis scipy matplotlib cython
    - sudo apt-get install -qq libatlas-dev libatlas-base-dev gfortran libpng-dev
    - easy_install cvxopt
    - pip install sympy
    - pip install nibabel
    - if [ "${COVERAGE}" == "--with-coverage" ]; then
      pip install coverage;
      pip install coveralls;
      fi
# command to install dependencies
# e.g. pip install -r requirements.txt # --use-mirrors
install:
    - python setup.py install
# command to run tests, e.g. python setup.py test
script:
    # Change into an innocuous directory and find tests from installation
    - mkdir for_testing
    - cd for_testing
    - if [ "${COVERAGE}" == "--with-coverage" ]; then cp ../.coveragerc .; fi
    - $PYTHON ../tools/dipnost $COVERAGE `python -c "import os; import dipy; print(os.path.dirname(dipy.__file__))"`
after_success:
    - if [ "${COVERAGE}" == "--with-coverage" ]; then coveralls; fi
