include AUTHOR LICENSE Makefile* MANIFEST.in setup* README.*
include Changelog TODO
recursive-include doc *
recursive-include bin *
recursive-include tools *
recursive-include src *
# setup utilities
include setup_helpers.py
include version_helpers.py
include cythexts.py
recursive-include fake_pyrex *
# put this stuff back into setup.py (package_data) once I'm enlightened
# enough to accomplish this herculean task
recursive-include dipy/data *
include dipy/COMMIT_INFO.txt
