name: Optional Deps

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pip:
    uses: skoudoro/dipy/.github/workflows/test_template.yml@gh-actions
    with:
      runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      extra-depends: scikit_learn pandas statsmodels tables scipy
  conda:
    uses: skoudoro/dipy/.github/workflows/test_template.yml@gh-actions
    with:
      runs-on: '["macos-latest", "windows-latest"]'
      install-type: '["conda"]'
      extra-depends: scikit-learn pandas statsmodels pytables scipy