name: Parallelization | Dask

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pip:
    uses: ./.github/workflows/test_template.yml
    with:
      runs-on: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      extra-depends: dask
