name: PRE_WHEELS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: build-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  PRE:
    uses: ./.github/workflows/test_template.yml
    with:
      runs-on: '["ubuntu-latest", ]'
      python-version: '["3.11", ]'
      use-pre: true
      extra-depends: scikit_learn scipy statsmodels pandas tables